@tailwind base;
@tailwind components;
@tailwind utilities;


/* TypingLoader.css */

.typing-loader {
  display: flex;
  gap: 5px;
}

.typing-loader-dot {
  width: 8px;
  height: 8px;
  background-color: #333;
  border-radius: 50%;
  animation: typing 1.5s infinite;
}

.typing-loader-dot:nth-child(1) {
  animation-delay: 0s;
}

.typing-loader-dot:nth-child(2) {
  animation-delay: 0.3s;
}

.typing-loader-dot:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes typing {
  0%, 20%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.5);
    opacity: 0.5;
  }
}
